%h5 Application Source
%ul
  %li
    %span.gh-icon
      = link_to 'GitHub', 'http://github.com/salf/reservation', target: '_blank'

%h5 Next steps to realize:
%ul
  %li add business hours for restaurant
  %li validate reservations due to business hours
  %li sorting columns in reservation table
  %li using timefrate control for visual time selection
  %li fetch available time frames from db before creating new reservation

%h5 Deployment/server stuff
%ul
  %li ubuntu 14.xx, ssd
  %li nginx
  %li unicorn
  %li mina