@font-face {
  font-family: "Museosans500";
  font-style: normal;
  font-weight: normal;
  src: local("museosans_500"), url(/fonts/museosans_500-webfont.woff) format("woff");
}
@font-face {
  font-family: "MuseoSans500Italic";
  font-style: normal;
  font-weight: normal;
  src: local("museosans_500_italic"), url(/fonts/museosans_500_italic-webfont.woff) format("woff");
}
@font-face {
  font-family: "Museo700";
  font-style: normal;
  font-weight: normal;
  src: local("museosans_700"), url(/fonts/museo700-regular-webfont.woff) format("woff");
}